/* 
Implemented with styled components
.App {
  text-align: center;
  background-color: #16181a;
  color: white;
} */

/* 
Implemented all logo animations with styled components
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#Searchbar {
  border-top: 1rem solid rgb(14, 37, 96);
}

.Main--container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Main--imgContainer {
  padding: 3rem;
}

#Main--img {
  height: 30rem;
  max-width: 100%;
}

.Main--articleContainer {
  max-width: 40%;
}

#Main {
  border-bottom: 1rem solid rgb(14, 37, 96);
  
  margin-bottom: 5rem;
}



#bodyTitle {
  border-bottom: 1rem solid rgb(14, 37, 96);
  
}

.doubleBox {
  display: flex;
  align-items: center;
  justify-content: center;
}



.bodyPost--container {
  padding: 3rem;
  align-self: baseline;
  width: 50%;
}

.bodyPost--imgContainer {
  padding: 1.5rem;
}

.bodyPost--img {
  height: 20rem;
  max-width: 100%;
}

#footer {
  background-color: #282c34;
  color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

